<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020 lululujojo123
  ~
  ~ AndroidManifest.xml
  ~
  ~ created by: Andreas G.
  ~ last edit \ by: 2020/12/31 \ Lara B.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.battlecreatures">

    <permission
        android:name="org.battlecreatures.RUN_ACTIVITIES"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="org.battlecreatures.RUN_ACTIVITIES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BattleCreatures.NoActionBar">
        <activity
            android:name=".activities.HomeActivity"
            android:permission="org.battlecreatures.RUN_ACTIVITIES"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileActivity"
            android:permission="org.battlecreatures.RUN_ACTIVITIES"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TutorialActivity"
            android:permission="org.battlecreatures.RUN_ACTIVITIES"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BattleCreatures.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>